@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Raleway:wght@500;700;900&family=Roboto:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
th,
span {
  font-family: "Raleway", sans-serif !important;
  font-weight: 900;

}

p,
a,
li {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


span {
  display: flex;
  align-items: center;
  justify-content: center;
}

span p {
  cursor: default;
  text-align: left;
  flex-grow: 1;
}


.App {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

.btn-common {
  background: linear-gradient(120deg,#bccaf8dd,#e2e2e2);
  background-size: 200%;
  border-radius: 2rem;
  border-width: 0;
  box-shadow: 0 3px 8px rgba(0,0,0,.24);
  color: #000;
  cursor: pointer;
  font-family: Quicksand,sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  margin: .2rem;
  outline: none;
  overflow: hidden;
  padding: 0.2rem .4rem;
  position: relative;
  transition: all .4s ease-in-out;
}

.btn-common:hover {
  background-position: 200%;

  border-radius: 0.5rem;
}

.inputBox{
  border: none;
    border-radius: 16px;
    font-family: Quicksand,sans-serif;
    padding: 4px 9px;
    width: 200px;
}



.container {
  
  color: #fff;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(120deg, #000046,
      #1cb5e0);
  width: 300px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  border-radius: 1rem;
  /* width: fit-content; */
}

div.todoList {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
  margin: 1rem 0;
}

input {
  padding: 0.2rem 0.5rem;
  border: 2px solid #ccc;
}